<h1>Rambling Slider</h1>
 <div class="slider-wrapper theme-default">
  <div id="slider">
    <img src="http://placehold.it/500x150&text=slide 1" alt="image1"/>
    <a href="#link"><img src="http://placehold.it/500x150&text=slide 2" alt="image2"/></a>
    <img src="http://placehold.it/500x150&text=slide 3" alt="image3"/>
    <img src="http://placehold.it/500x150&text=slide 4" alt="image4"/>
  </div>
</div>
